.manage__border {
    margin: 16px 0;
}

.manage__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
    padding: 16px 32px;
}

.manage__title {
    border-bottom: 1px solid #66CCFF;
}

.manage__row__column {
    text-align: center !important;
}

.manage__add__btn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 32px;
}

.manage__add__border {
    transition: all .4s ease;
    margin: 16px 0;
    padding: 0 32px;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.manage__delete--animated {
    animation: delete .8s ease;
    animation-fill-mode: forwards;
}

@keyframes delete {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}