.header-menu-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.header-menu-control {
    margin: 8px;
    display: flex;
    flex-flow: row nowrap;
}

.header-menu-item {
    cursor: pointer;
    margin: 0 10px;
}

.header-menu-item:hover {
    text-shadow: 4px 4px 2px #66CCFF;
}