.header__background {
    border-bottom: 3px solid #66CCFF;
    margin: 0 0 16px 0;
    background: rgba(51, 51, 51, 0.36);
    z-index: 0;

    position: relative;
}

.header-menu-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.header-menu-control {
    margin: 8px;
    display: flex;
    flex-flow: row nowrap;
}

.link {
    text-decoration: none;
    color: black;
}

.header-menu-item {
    cursor: pointer;
    margin: 0 10px;
    font-size: 13px;
}

.header-menu-item:hover {
    text-shadow: 4px 4px 2px #66CCFF;
}

.header-menu-welcome {
    font-size: 12px;
    margin: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-logo {
    margin: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__bar {
    padding: 4px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.header__background:after {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(http://message.bilibili.com/img/infocenterbg.jpg) center top no-repeat fixed;
    filter: blur(6px);
    margin: 0;
    overflow: hidden;
}

.header__search__btn {
    margin: 0 0 0 8px;
}

.header__search input {
    color: white !important;
}