.header__background {
    border-bottom: 3px solid #66CCFF;
    margin: 0 0 16px 0;
}

.header-menu-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.header-menu-control {
    margin: 8px;
    display: flex;
    flex-flow: row nowrap;
}

.header-menu-item {
    cursor: pointer;
    margin: 0 10px;
    font-size: 13px;
}

.header-menu-item:hover {
    text-shadow: 4px 4px 2px #66CCFF;
}

.header-menu-welcome {
    font-size: 12px;
    margin: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-logo {
    margin: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__bar {
    padding: 16px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.header__search__btn {
    margin: 0 0 0 8px;
}