.home-layout {
    display: flex;
    flex-flow: row nowrap;
}

.home__menu {
    display: inline-block;
    margin: 16px 8px;
}

.home__content {
    margin: 16px 0;
    width: 100%;

    background-color: rgba(255, 255, 255, .5);

    transition: all 0.5s ease-out;
}

.home__tab {
    transition: all .3s ease;
    overflow: auto;
}

.home__content--active {
    height: 666px;
    /*overflow: visible !important;*/
}

.home__content--deactive {
    height: 0;
}

/*information*/
.home__information {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 80%;
}

.home__information th {
    padding-right: 30px;
    text-align: right;
    font-size: 14px;
    color: #898989;
}

.home__information td {
    width: auto;
    color: #3C3C3C;
    padding: 12px 0;
    font-size: 14px;
}

.home__information__content {
    margin: 16px;
}

.home__avatar__hide {
    width: 140px;
    height: 140px;
    position: absolute;
    z-index: 999;
    background-color: black;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.home__avatar__hide span {
    opacity: 1;
    color: white;
}

.home__avatar__hide:hover {
    opacity: 0.5;
}

.home__avatar {
    /*width: 140px;*/
    /*height: 140px;*/

    min-width: 140px;
    min-height: 140px;
    max-height: 300px;
    max-width: 300px;
}

.home__record img {
    width: 144px;
    padding: 8px 16px 8px 0;
}

.home__record__info {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 12px;
}


.home__message__item {
    margin: 16px 0;
    padding: 16px;
    font-size: 12px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.home__message__item:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 30px, rgba(0, 0, 0, 0.23) 0 6px 10px !important;
}

.home__message__item__title--unread {
    font-weight: bold;
    cursor: pointer;
}

.home__message__item__title--read {
    font-weight: normal;
}

.home__message__item__content {
    padding: 0 8px;
}

.home__charge__field {
    margin: 32px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.image__select {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}