.main-layout-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 0 16px;
}

.main-hot__border {
    max-width: 930px;
    min-width: 600px;
}

.main-all {
    /*max-width: 930px;*/
    min-width: 830px;
}

.subHeader {
    margin: 0 0 16px 16px;
    padding: 16px 0 0;
    border-bottom: 2px solid #66CCFF;
    font-size: 20px;
    color: #666;
    line-height: 28px;
}

.main__items {
    display: flex;
    flex-flow: row wrap;
    margin: 16px;
}

.main__item {
    width: 200px;
    border: 1px solid #e8e8e8;
    padding: 8px;
    overflow: hidden;
}

.main__item--all {
    width: 230px;
    border: 1px solid #e8e8e8;
    padding: 8px;
    overflow: hidden;
}

.main__item:hover, .main__item--all:hover {
    padding: 7px;
    border: 2px solid #66CCFF;
}

.item-pic {
    padding: 18px 8px;
    width: 180px;
}

.main__item__info {
    padding: 0 16px;
    font-size: 12px;
}

.text-p-min-margin {
    margin: 8px 0;
}

.main__item_progress__text {
    font-size: 12px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.main__item__btn {
    text-align: center;
    margin: 16px;
}




/*latest*/
.latest-lotto {
    padding: 0;
    width: 320px;
}

.latest-lotto-header {
    margin: 8px 8px 18px;
    padding: 4px;

    border-bottom: 2px solid #00f2fe;
    font-size: 20px;
    color: #666;
}


.latest-lotto-items {
    overflow: hidden;
    border: 1px solid #ddd;
    border-bottom: 0;
    max-height: 692px;
    transition: all .3s ease;
}


.latest-lotto-item {
    transition: all .3s ease;
    display: flex;
    flex-flow: row nowrap;
    font-size: 12px;
    margin: 6px 8px;
    padding: 10px 8px;
}

.latest-lotto-item:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 30px, rgba(0, 0, 0, 0.23) 0 6px 10px;
}

.latest-lotto-item-pic {
    padding: 0 8px 8px;
    width: 64px;
    height: 64px;
}

.latest-lotto-item-info {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 8px;
}

.latest-lotto-item-info-separate {
    margin: 8px 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.latest-lotto-footer {
    margin: 0;
    height: 50px;
    background-color: #f5f5f5;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    color: #808080;
    border: 1px solid #ddd;
    border-top: 0;
}