body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div {
  font-family: 'Microsoft YaHei' !important;
}

.edge {
  width: 1024px;
  margin: 0 auto;
}

.layout {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.content {
  background-size: cover;
  background-color: #f6f9fa;
}

.not-found {
  text-align: center;
  margin: 40px 0;
  font-size: 2rem;
}