body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

div {
    font-family: 'Microsoft YaHei' !important;
}

.edge {
    width: 1280px;
    margin: 0 auto;
}

.text-grey-color {
    color: #808080;
}

.layout {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background: url(http://message.bilibili.com/img/infocenterbg.jpg) center top no-repeat fixed #fff;
}

.background__mask--empty {
    background-color: rgba(255, 255, 255, 0);
}

.background__mask {
    background-color: rgba(255, 255, 255, .8);
}

.background__mask--half {
    background-color: rgba(255, 255, 255, 0.6);
}

.background__mask--filled {
    background-color: rgba(255, 255, 255, 1);
}

.content {
    /*background-size: cover;*/

    /*background-color: #f6f9fa;*/
}

.not-found {
    height: 100%;
    text-align: center;
    margin: 40px 0;
    font-size: 2rem;
    line-height: 64px;
}

/*loading*/
.loading {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #2980b9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    margin: 100px auto;
    width: 32px;
    height: 32px;
    position: relative;
}

.cube1, .cube2 {
    background-color: white;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: cubemove 1.8s infinite ease-in-out;
    animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% {
          transform: translateX(42px) translateY(42px) rotate(-179deg);
          -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
      } 50.1% {
            transform: translateX(42px) translateY(42px) rotate(-180deg);
            -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
        } 75% {
              transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
              -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
          } 100% {
                transform: rotate(-360deg);
                -webkit-transform: rotate(-360deg);
            }
}